on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - ".github/**"

name: CI

env:
  FLUTTER_VERSION: 3.32.8

jobs:
  analyze-test:
    name: Analyze and test
    uses: ./.github/workflows/analyze-test.yaml

  build:
    needs:
      - analyze-test
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: "stable"

      - name: Run prebuild
        run: bash prebuild.sh