on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - ".github/**"

name: CI

env:
  FLUTTER_VERSION: 3.32.8

jobs:
  analyze-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: stable
      - run: bash prebuild.sh

      - name: Run Flutter tests
        run: |
          flutter test -r json > test-report.json

      - name: Publish test report
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
          name: Flutter Tests
          path: test-report.json
          reporter: flutter-json
          only-summary: false
